@{ ViewBag.Title = "Tracking"; }


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <legend>Estafeta Api Test</legend>
            <h2>
                Tracking
            </h2>

            <h3>End Point:</h3>

            <pre><code>GET: /Api/Track/?codigo=[trackCode]&tipo=[type]</code></pre>




            <div class="form-group">
                <label class="control-label">
                    Code type
                </label>

                <select id="option" class="form-control" required="required">
                    <option value="0">10 Digits</option>
                    <option value="1">22 Digits</option>
                </select>
                <label class="control-label">
                    Code
                </label>
                <input type="text" id="code" class="form-control">

            </div>
            <button type="button" id="btn" class="btn btn-primary">Send</button>

            <p id="loading" style="display: none;">
                Loading the awesome data.....
            </p>

        </div>
    </div>

</div>
<div class="container">
    <div class="row">
        <style>
            .responseData {
                background-color: #f5f5f5;
            }
        </style>

        
        <div class="col-xs-12">
            <h2>Main Info</h2>
            <pre id="response"></pre>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        (function () {

            var $btn = $("#btn");
            $btn.click(function () {
                var code = $("#code").val();
                var option = $("#option").val();
                $("#loading").show();
                var url = "/Api/Track/?codigo=" + code + "&tipo=" + option;
                $.getJSON(url, function (response) {
                    $("#loading").hide();
                    $("#response").text("");
                    $("#response").append(JSON.stringify(response, null, "\t"));
                    $("#loading").hide();
                });
            });
        })();

    </script>
}